<div class="container-fluid mt-4">
    <div class="mb-3">
        <div class="brand-badge">TuSegundazo.com</div>
    </div>

    
    <div class="row justify-content-center mb-3">
        <div class="col-10">
            <img src="assets/Frame 6.png" alt="Car Banner" class="img-fluid w-100 rounded shadow-sm" />
        </div>
    </div>

    


   
    <div class="row">
        <!-- col-12 en móviles, col-md-9 (9/12 = 3/4) en pantallas md+; ms-md-3 crea desplazamiento hacia la derecha (alineación similar al mock) -->
        <div class="col-12 col-md-9 ms-md-3">
            <div class="table-frame">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered align-middle text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Marca</th>
                                <th>Línea</th>
                                <th>Modelo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let car of cars; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td class="text-start px-3">{{ car.marca }}</td>
                                <td class="text-start px-3">{{ car.linea }}</td>
                                <td class="text-start px-3">{{ car.modelo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row justify-content-center mt-4">
        <div class="col-10 text-center text-muted small">
            <p class="m-0">
                {{"Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo"}}
            </p>
        </div>
    </div>
</div>